.jumbotron {
	color: khaki;
}

#top-of-page {
	position: fixed;
	width: 100%;
}

section {
	background-color: dimgrey;
	color: white;
}


label {
	display:block;
	margin-top:20px;
	letter-spacing:2px;
}

input {
	display: block;
}

textarea {
	display: block;
}



@media only screen and (max-device-width: 768px) {
	.parallax {
		background-attachment: scroll;
	}
}

/* xs to lg*/
@media(min-width: 769px) {
	.parallax-content{
		background-image: url("../images/my-life.jpg");
		width: 100%;
		position: relative;
		/* background: url(/_images/header_trees.png) no-repeat; */
		background-size: 100% 100%;
		height: 68vh;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}

	.parallax-content2{
		background-image: url("../images/ryan.jpg");
		width: 100%;
		position: relative;
		background-size: 100% 100%;
		height: 60vh;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}

	.parallax-content3{
		background-image: url("../images/gabriel.jpg");
		width: 100%;
		position: relative;
		background-size: 100% 100%;
		height: 60vh;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}

	.parallax-content4{
		background-image: url("../images/ghost-presenter.jpg");
		width: 100%;
		position: relative;
		background-size: 100% 100%;
		height: 60vh;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	/* xs to 0 */
	@media(max-width: 768px){
		.parallax-content .parallax:before{
			background-image: url("../images/my-life.jpg");
		}

		.parallax-content2 .parallax:before{
			background-image: url("../images/ryan.jpg");
		}

		.parallax-content3 .parallax:before{
			background-image: url("../images/gabriel.jpg");
		}

		.parallax-content4 .parallax:before{
			background-image: url("../images/ghost-presenter.jpg");
		}
	}

}