#welcome {
	margin-top: 6rem;
}

.jumbotron {
	color: white;
}

.lead {
	font-weight: 600;
}

#top-of-page {
	position: fixed;
}

p {
	font-weight: 500;
}

section {
	background-color: dimgrey;
	color: white;
}


label {
	display:block;
	margin-top:20px;
	letter-spacing:2px;
}

input {
	display: block;
}

textarea {
	display: block;
}

#about-image {
	width: 25rem;
	float: right;
}

#howdy {
	margin: 1em;
}

/*Parallax background effects*/
.parallax-content {
	position: relative;
	overflow: hidden;
	height: 80vh;
	-webkit-background-size: cover;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center center;
}


.parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.parallax:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-size: 100% 100%;
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;
}





/* xs to lg*/
@media(min-width: 769px) {
	.parallax-content {
		background-image: url("../images/my-life.jpg");

	}

	.parallax-content2 {
		background-image: url("../images/ryan.jpg");
	}

	.parallax-content3 {
		background-image: url("../images/gabriel.jpg");
	}

	.parallax-content4 {
		background-image: url("../images/ghost-presenter.jpg");
	}
}

	/* xs to 0 */
	@media(max-width: 768px){
		.parallax-content .parallax:before{
			background-image: url("../images/my-life.jpg");
		}

		.parallax-content2 .parallax:before{
			background-image: url("../images/ryan.jpg");
		}

		.parallax-content3 .parallax:before{
			background-image: url("../images/gabriel.jpg");
		}

		.parallax-content4 .parallax:before{
			background-image: url("../images/ghost-presenter.jpg");
		}

		#howdy{
			height: 20vh;
			width: 20vh;
		}
	}

